* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: #000;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #333, #aaa);
}

h1 {
    text-shadow: 1px 1px #ccc;
    margin: 1rem;
}

dialog {
    margin: auto;
    padding: 1rem;
    background-color: #eee;
    color: #333;

    input {
        display: block;
        width: 100%;
        margin: 0.4rem 0;
    }

    .btn-container {
        display: flex;

        & button {
            width: 50%;
        }
    }
}

table {
    background-color: #000;
    border-right: 1px solid #eee;
    box-shadow: 8px 8px 4px #222;
    margin: 2rem;

    tr {
        color: #eee;
        background-color: #555;
    }
    
    th {
        color: #eee;
        background-color: #000;
        /* border-bottom: 1px solid #eee; */
    }
    
    td, th {
        outline: 1px solid #000;
        padding: 1ch;
        /* border-right: 1px solid #eee; */
    }
}